/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
.DS_Store

# Native extension build artifacts (see Rakefile's `compile` task)
/ext/orange_tap/Makefile
/ext/orange_tap/mkmf.log
/ext/orange_tap/*.o
/ext/orange_tap/*.bundle
/ext/orange_tap/*.bundle.dSYM/
/ext/orange_tap/*.so
